	div.creditsContainer{
		width: 100%;
	}
	span.creditType{
		float: left;
		padding-left: 3px;
	}
	span.creditName{
		float: left;
		padding-left: 3px;
		width: 65%;
	}
	div.creditsCell{
		float: left;
		overflow: auto;
		vertical-align: top;
	}
	img.creditsImage{
		float: left;
	}